<!DOCTYPE html>
<html>
    <head>
        <title>Best restaurants</title>
    </head>
    <body>
        <h1>Best Restaurants</h1>
        {% block content %}
            <p>Create a new restaurant category:</p>

            <form action='/cuisines' method='post'>
                <label for='name'>Cuisine type:</label>
                <input id='name' name='name' type='text'>

                <button type='submit'>Add</button>
            </form>

            {% if cuisines is not empty %}
                <p>Here are the restaurant categories:</p>
                <ul>
                    {% for cuisine in cuisines %}
                        <li><a href='/cuisines/{{ cuisine.getId }}'>{{ cuisine.getName }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>There are no restaurant categories yet.</p>
            {% endif %}
        {% endblock %}
    </body>
</html>
