<!DOCTYPE html>
<html>
    <head>
        <title>Best restaurants</title>
    </head>
    <body>
        <h1>Best Restaurants</h1>
        {% block content %}

        {% endblock %}
    </body>
</html>
